# Application Ports
FRONTEND_PORT=3000
BACKEND_PORT=4000

# AI Agent Ports
OCR_AGENT_PORT=5001
FRAUD_AGENT_PORT=5002
SUMMARY_AGENT_PORT=5003

# Database
MONGODB_URI=

# x402
X402_NETWORK=
X402_FACILITATOR_URL=

# Algorand
ALGORAND_NETWORK=
ALGORAND_RPC_URL=

# Wallet
WALLET_ADDRESS=